*~
*#
.#*
*.o
*.la
*.lo
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
doxygen-doc/
auto/
.dirstamp
.deps/
.libs/
autom4te.cache/
m4/*
!m4/boost.m4
!m4/doxygen.m4

autoscan.log
aclocal.m4
config*
!configure.ac
cpp_hello
cpp_hello_python
depcomp
install-sh
libtool
ltmain.sh
Makefile*
!Makefile.am
missing
model
!model/
stamp-h1
test_python
tmx
!tmx/
tmx3
!tmx3/
ui
!ui/

/build*/
/TAGS

*.pyc
